html, body {
    background-color: #21232A;
    color: white;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 1.3rem;
    padding: 70px;
}

button {
    box-sizing: border-box;
    min-width: 55px;
    min-height: 55px;
    font-size: 1.3rem;
    margin: 10px;
    box-shadow: 3px;
    
}

button:hover {
    background-color: gray;
    color: green;
}