* {
    font-family: 'Arial Narrow Bold', sans-serif;
    background-color: rgb(153, 179, 146);
  }
  
  body {
    padding: 60px;
  }
  
  input {
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    border: 1px solid rgb(40, 158, 32);
    color: black;
    font-size: 1.2rem;
    outline: none;
    padding: 10px 15px;
    width: 100%;
  }
  
  h2 {
    font-size: 1.2rem;
    padding: 5px;
  }
  
  h3 {
    font-size: 1.5rem;
    margin-bottom: 5px;
  }
  
  .card-grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .card {
    align-content: center;
    align-items: center;
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    height: 0%;  
    justify-content: center;
    margin-bottom: 20px;
    margin-right: 20px;
    overflow: hidden;
  }

  .card:hover p,
  .card:hover {
    background-color: rgb(44, 88, 41);
    color: white;
    transition: ease-in-out 2s;
  }
  
  .card p {
    background-color: white;
    flex: 1;
    font-size: 1.5rem;
    margin-top: 5px;
    padding: 5px 20px 0px 20px;
    text-align: center;
  }
  
  .card img {
    width: 100%;
  }